@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "google-sans";
  src: url("/fonts/ProductSans-Regular.ttf") format("truetype");
}

*{
  margin:0px;
  padding:px;
}
body{
  background-color: #171616 !important;
  color:white !important;
  font-family: "google-sans",sans-serif;
}
input,textarea{
  background-color: #171616 !important;
    color: white !important;
    border: 2px solid #F9C409;
    padding: 15px;
    border-radius: 10px;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}

.hide-scrollbar {
  overflow: auto;
}